body{
margin:0;
background:#1b1b1b;
overflow:hidden;
font-family:sans-serif;
}

canvas{
background:#2c2c2c;
display:block;
margin:auto;
}

#ui{
position:absolute;
left:10px;
top:10px;
color:white;
font-size:18px;
}
